<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="error">
	<Properties>
		<Property name="maven.logging.root.level">INFO</Property>
		<Property name="org.squashtest.ta.plugin.level">INFO</Property>
		<Property name="org.squashtest.ta.main.components.level">INFO</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%p] %c - %m%n" />
		</Console>
		<File name="logFile" fileName="target/logs/engine.txt" append="false">
			<PatternLayout>
				<Pattern>[%p] %c - %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<!-- Root Logger configuration -->
		<Root level="off">
			<Appender-ref ref="console" />
			<Appender-ref ref="logFile" />
		</Root>

		<!-- Squash-TA log Command configuration -->
		<logger name="[USER_MESSAGE]" level="debug">
			<AppenderRef ref="logFile" />
		</logger>

		<!-- Squash-TA plugins logging configuration -->
		<logger name="org.squashtest.ta.plugin.commons" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.commons" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.db" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.filechecker" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.ftp" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.sahi" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.selenium" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.soapui" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.plugin.ssh" level="${org.squashtest.ta.plugin.level}">
			<AppenderRef ref="logFile" />
		</logger>

		<!-- Squash-TA package logging configuration -->
		<logger name="org.squashtest.ta.backbone" level="${org.squashtest.ta.main.components.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.framework" level="${org.squashtest.ta.main.components.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.core" level="${org.squashtest.ta.main.components.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.commons" level="${org.squashtest.ta.main.components.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.maven" level="${org.squashtest.ta.main.components.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.link" level="${org.squashtest.ta.main.components.level}">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="org.squashtest.ta.api" level="${org.squashtest.ta.main.components.level}">
			<AppenderRef ref="logFile" />
		</logger>

		<!-- Squash-TA dependencies logging configuration -->
		<logger name="org.springframework" level="ERROR">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="com.gargoylesoftware" level="ERROR">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="net.schmizz.sshj" level="WARN">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="net.schmizz.concurrent.Promise" level="OFF">
			<AppenderRef ref="logFile" />
		</logger>
		<logger name="net.schmizz.sshj.DefaultConfig" level="ERROR">
			<AppenderRef ref="logFile" />
		</logger>
	</Loggers>
</Configuration>